@charset "UTF-8";

@import url('./setting.css');
@import url('./variable.css');


*{-webkit-tap-highlight-color: transparent;}
.wrap{max-width: 1920px; margin: 0 auto;}

/* 사이드메뉴 */
.side-menu{
    position: fixed; top: 0; right: 0; z-index: 30;
    width: 100%; height: 100%;
    background: rgba(1, 1, 1, 0.4);
    backdrop-filter:blur(4px) ;
    opacity: 0; visibility: hidden;
    transition: opacity .4s, visibility .4s;
}

.side-menu > button{position: fixed; right: 30px; top: 34px; padding: 4px; cursor: pointer; opacity: 0; transition: opacity .6s;}
.side-menu > button > svg{width: 20px; height: 20px; stroke: #fff;}

ul.side-menu--gnb{
    background: var(--main-color);
    width: 40%; height: 100%;
    position: fixed; top: 0; right: -100%;
    padding:20px var(--vw-40px);
    
    transition: right .5s ease-in-out;

}
.side-menu--gnb-li{width: fit-content; opacity: 0;}
.side-menu--gnb-li > a{
    font-size: var(--fz18); color: var(--wh1); white-space: nowrap; 
    padding: 10px; width: 90px; 
    box-sizing: border-box; display: inline-block; 
}
.side-menu--lnb{display: none; }
.side-menu--lnb.db {display: block !important;}
.side-menu--lnb > li > a{
    white-space: nowrap; font-size:16px; color: #f9f5ee;
    width: fit-content; padding:5px 20px; display: inline-block; 
    position: relative;
}
.side-menu--lnb > li > a::after{content: ''; width: 4px; height: 4px; border-radius: 4px; background: transparent; position: absolute; left: 6px; top: calc(50% - 2px); }

@media (hover: hover) and (pointer: fine){
.side-menu--gnb-li:hover .side-menu--lnb{display: block; }
.side-menu--lnb:hover > li > a {color: #fff;}
.side-menu--lnb > li:hover > a::after{background: #fff;}
}


.side-menu.active{opacity: 1; visibility: visible; }
.side-menu.active > ul.side-menu--gnb{right: 0;}
.side-menu.active .side-menu--gnb-li{opacity: 1;}
.side-menu.active > button{opacity: 1; transition: opacity .6s;}




/* 헤더 */



header{
    display: flex; justify-content: space-between; align-items: center;
    padding:30px; box-sizing: border-box; width: 100%; 
    
    z-index: 3;
}
h2.header--logo{width: 175px; height: 29px;}
h2.header--logo > a{width: 100%; height:100%; display: inline-block;}
h2.header--logo > a > img{width: 100%; height:100%; object-fit: contain;}

ul.header--gnb{display: flex; gap: var(--vw-40px); position: relative; user-select: none;}  /* !!!!!!!!!페이지이동안되면 user-select 없애기!!!!!!!!!! */
.header--gnb-li{text-align: center; position: relative;}
.header--gnb-li > a{
    font-size: var(--fz18); color: var(--bk111); white-space: nowrap; 
    padding: 10px; width: 90px; 
    box-sizing: border-box; display: inline-block; 
    text-align: center;
}
.header--lnb{position: absolute; top: 180%; left: 50%; transform: translateX(-50%); opacity: 0;  pointer-events: none;  visibility: hidden; height: 0; z-index: 5;}
.header--lnb > li{width: 100%; }
.header--lnb > li > a{
    white-space: nowrap; font-size:16px; color: var(--bk333);
    width: fit-content; padding: 5px; display: inline-block; 
    position: relative;
}
.header--lnb > li > a::before{
    content: ''; display: inline-block; width: 45%; height: 1px; 
    border-bottom: 2px solid var(--point-color); opacity: 0; 
    position: absolute; bottom: 0; left: 50%;
    transition: left 0.2s, opacity 0.8s;
}
.header--lnb > li > a::after{
    content: ''; display: inline-block; width: 45%; height: 1px; 
    border-bottom: 2px solid var(--point-color-hover); opacity: 0; 
    position: absolute; bottom: 0; left: 0%;
    transition: left 0s, opacity 0s;
}

.header--lnb > li > a:hover:before{left: 5%; opacity: 1; transition: left 0.4s, opacity 0.6s;}
.header--lnb > li > a:hover:after{left: 50%; opacity: 1; transition: left 0.4s, opacity 0.6s;}

.header--gnb-indicator{
    display: inline-block; 
    width: 5px; height: 5px; border-radius: 5px; 
    background: var(--point-color); 
    position: absolute; top: 125%; left: 50%;
    box-shadow: 1px 1px 1px rgba(1, 1, 1, 0.1);
    opacity: 0;
    transition: opacity .3s;
}
.header--gnb-li:hover > a + .header--gnb-indicator{opacity: 1;}
.header--gnb:hover .header--lnb{opacity: 1; visibility: visible; pointer-events: auto; transition: opacity .3s; height: fit-content;}
.header--gnb:hover .lnb--wrap{opacity: 1; height: 450%; transition: opacity .6s;}
.header--gnb:hover .lnb--wrap::before{content:''; display: inline-block; position: absolute; width: 100%; height: 40%; background: transparent; top: -20%; left: 0; z-index: 0;}



.header--icon-set{display: flex; gap: 12px;}
.header--icon-set > button{padding: 4px; cursor: pointer;}
.header--icon-set > button > svg{width: 20px; height: 20px; stroke:var(--bk111)}


.lnb--wrap{
    opacity: 0;
    position: absolute; top: 150%; left: -2%;
    height: 0%; width: 104%;    
    background: rgba(255, 255, 255, 0.8);
    backdrop-filter: blur(6px);
    border: 1px solid var(--bg-f6);
    border-radius: 8px;
    box-shadow: 
    inset 1px 2px 2px rgba(255, 255, 255, 0.04),
    /* inset 0px 1px 2px rgba(1, 1, 1, 0.08), */
    inset -1px -2px 2px rgba(255, 255, 255, 0.04),
    4px 2px 2px rgba(1, 1, 1, 0.04);

    z-index: 3;
}





/* 푸터 */
footer{width: 100%; padding: 3.1vw 8.33vw; background: var(--bg-footer); box-sizing: border-box;}
footer > h2{margin-bottom: var(--vw-40px);}
footer > h2 > a > img{width: 244px; height: auto;}
footer > .row-align{display: flex; gap: var(--vw-40px); align-items: end;}
.footer--info-box{display: flex; flex-direction: column; gap:2.8rem; flex-grow: 1; }
ul.footer--info-box--links{display: flex; gap:2rem;}
ul.footer--info-box--links > li > a{font-size: 16px; font-weight: 600; color: var(--wh1);}
.footer--info-box--etcs{color: var(--wh2); font-size: var(--fz14); user-select: none;}
.footer--info-box--etcs > span{margin-bottom: 10px; display: block;}
.footer--info-box--etcs > div{display: flex; align-items: center; gap: 10px; }
.footer--info-box--etcs > div > div{display: flex; gap: 8px; align-items: center;} 
.footer--info-box--etcs > div > div > .divider{display: inline-block; width: 1.8px; height: 1.4rem; background: var(--wh2);}
.footer--info-box--copyright{color: var(--wh2); font-size: var(--fz14); user-select: none;}

.footer--openTime{user-select: none;}
.footer--openTime > span{font-size: 16px; color: var(--wh2); margin-bottom: 1.2rem; display: inline-block;}
.footer--openTime > div{display: grid; grid-template-rows: 1fr auto;  gap: 10px;}
.footer--openTime > div > div > span:nth-of-type(1){font-size: var(--fz18); color: var(--wh2);}
.footer--openTime > div > div > span:nth-of-type(2){font-size: var(--fz18); color: var(--wh1);}


/* --------------------------------반응형-------------------------------- */
@media screen and (max-width : 1280px) {


/* fz30 */
.main-section-box strong.title{font-size: clamp(var(--sectionTitle-min),var(--sectionTitle-mid), var(--sectionTitle));}


/* fz18 */
.footer--openTime > div > div > span:nth-of-type(1),
.footer--openTime > div > div > span:nth-of-type(2) {font-size: clamp(var(--fz18-min),var(--fz18-mid),var(--fz18));}

/* fz16 */
ul.footer--info-box--links > li > a,
.footer--openTime > span{font-size: clamp(13px, 0.83vw, 16px);}

/* fz14 */
.footer--info-box--etcs,
.footer--info-box--copyright{font-size: clamp(var(--fz14-min),var(--fz14-mid),var(--fz14));}

.header--gnb-li > a{font-size: clamp(15px,0.93vw,18px);}
.header--lnb > li > a{font-size: clamp(14px,0.83vw,16px);}


}




@media screen and (max-width : 1180px){
.footer--openTime{display: none;}
}

@media screen and (max-width : 810px){
    /* 햄버거 메뉴 */
    ul.side-menu--gnb{width: 100%; box-sizing: border-box;}
    ul.header--gnb{display: none;}

    .footer--info-box--etcs > div{display: grid; grid-template-columns: auto 1fr; grid-template-rows: 1fr 1fr; row-gap: 6px; column-gap: 10px;   }
    .footer--info-box--etcs > div > div{display: flex; gap: 8px;}

}

@media screen and (max-width : 600px){
:root{--sectionTitle-min:22px; --title-gap:3.8rem;}

footer > h2 > a > img{width: 200px;}
}

@media screen and (max-width : 430px){
.footer--info-box--etcs,
.footer--info-box--copyright{font-size: 12px;}
.footer--info-box--etcs > div{column-gap: 6px; row-gap: 4px;}
}