@charset "UTF-8";

@import url('/css/setting.css');
@import url('/css/variable.css');

.wrap{max-width: 1920px; margin: 0 auto;}

/* 헤더 */
header.c-white .header--gnb-li > a{color: var(--wh1);}
header.c-white > .header--icon-set > button > svg{stroke:var(--wh1)}
header.c-white .header--lnb > li > a{color: var(--wh2);}

header{
    display: flex; justify-content: space-between; align-items: center;
    padding:30px; box-sizing: border-box; width: 100%; 
    position: absolute; top: 0; left: 0;
    z-index: 3;
}
h2.header--logo{width: 175px; height: 29px;}
h2.header--logo > a{width: 100%; height:100%; display: inline-block;}
h2.header--logo > a > img{width: 100%; height:100%; object-fit: contain;}

ul.header--gnb{display: flex; gap: var(--vw-40px); position: relative; user-select: none;}  /* !!!!!!!!!페이지이동안되면 user-select 없애기!!!!!!!!!! */
.header--gnb-li{text-align: center; position: relative;}
.header--gnb-li > a{
    font-size: clamp(var(--fz18-min),var(--fz18-mid),var(--fz18)); color: var(--bk111); white-space: nowrap; 
    padding: 10px; width: 90px; 
    box-sizing: border-box; display: inline-block; 
    text-align: center;
}
.header--lnb{position: absolute; top: 180%; left: 50%; transform: translateX(-50%); opacity: 0;  pointer-events: none;  visibility: hidden; height: 0; z-index: 5;}
.header--lnb > li{width: 100%; }
.header--lnb > li > a{
    white-space: nowrap; font-size: clamp(13px, 0.83vw, 16px); color: var(--bk333);
    width: fit-content; padding: 5px; display: inline-block; 
    position: relative;
}
.header--lnb > li > a::before{
    content: ''; display: inline-block; width: 45%; height: 1px; 
    border-bottom: 2px solid var(--point-color); opacity: 0; 
    position: absolute; bottom: 0; left: 50%;
    transition: left 0.2s, opacity 0.8s;
}
.header--lnb > li > a::after{
    content: ''; display: inline-block; width: 45%; height: 1px; 
    border-bottom: 2px solid var(--point-color-hover); opacity: 0; 
    position: absolute; bottom: 0; left: 0%;
    transition: left 0s, opacity 0s;
}

.header--lnb > li > a:hover:before{left: 5%; opacity: 1; transition: left 0.4s, opacity 0.6s;}
.header--lnb > li > a:hover:after{left: 50%; opacity: 1; transition: left 0.4s, opacity 0.6s;}

.header--gnb-indicator{
    display: inline-block; 
    width: 5px; height: 5px; border-radius: 5px; 
    background: var(--point-color); 
    position: absolute; top: 125%; left: 50%;
    box-shadow: 1px 1px 1px rgba(1, 1, 1, 0.1);
    opacity: 0;
    transition: opacity .3s;
}
.header--gnb-li:hover > a + .header--gnb-indicator{opacity: 1;}
.header--gnb:hover .header--lnb{opacity: 1; visibility: visible; pointer-events: auto; transition: opacity .3s; height: fit-content;}
.header--gnb:hover .lnb--wrap{opacity: 1; height: 450%; transition: opacity .6s;}
.header--gnb:hover .lnb--wrap::before{content:''; display: inline-block; position: absolute; width: 100%; height: 40%; background: transparent; top: -20%; left: 0; z-index: 0;}



.header--icon-set{display: flex; gap: 12px;}
.header--icon-set > button{padding: 4px; cursor: pointer;}
.header--icon-set > button > svg{width: 20px; height: 20px;}

.lnb--wrap{
    opacity: 0;
    position: absolute; top: 150%; left: -2%;
    height: 0%; width: 104%;    
    background: rgba(255, 255, 255, 0.2);
    backdrop-filter: blur(6px);
    border-radius: 8px;
    box-shadow: 
    inset 1px 2px 2px rgba(255, 255, 255, 0.04),
    /* inset 0px 1px 2px rgba(1, 1, 1, 0.08), */
    inset -1px -2px 2px rgba(255, 255, 255, 0.04),
    4px 2px 2px rgba(1, 1, 1, 0.04);

    z-index: 3;
}




/* 히어로 */
/* 공통 스타일 유지 */
.hero {width: 100%; height: 90vh; background-size: cover; background-position: center;}
.hero1 {background-image: url(../img/hero1.jpg);}
.hero2 {background-image: url(../img/hero2.jpg);}
.hero3 {background-image: url(../img/hero3.jpg);}

.hero--float-box{display: flex; flex-direction: column; gap: 43px; align-items: end; width: fit-content; color: var(--wh2); font-family: 'NanumMyeongjo'; position: absolute; top: 35%; right: 10%;}
.hero--float-box-txt{
    display: flex; flex-direction: column; gap: 16px; align-items: end;
    font-size: clamp(var(--deco-fz32-min),var(--deco-fz32-mid),var(--deco-fz32)); 
    user-select: none;
}
.hero--float-box-txt2{display: flex; gap: 16px; align-items: end;}
.hero--float-box-txt2 > span:nth-of-type(1){font-size: clamp(var(--deco-fz50-min),var(--deco-fz50-mid),var(--deco-fz50)); color: var(--wh1);}

.hero--float-box--cta{display: flex; gap: 2px; align-items: center; padding: 10px; padding-right: 4px; background:var(--point-color); border-radius: 50px; cursor: pointer;}
.hero--float-box--cta > span{color: var(--wh1); font-size: clamp(var(--fz14-min),var(--fz14-mid),var(--fz14)); font-family: "Inter", sans-serif;}
.hero--float-box--cta > svg{stroke: var(--wh1); stroke-width: 1.4; width: 16px; height: 16px;}
.hero--float-box--cta:hover{background: var(--point-color-hover); transition: background .5s;}


.hero-bottom{
    font-size: clamp(var(--fz18-min),var(--fz18-mid),var(--fz18)); 
    display: flex; gap: 5.2vw; align-items: center; justify-content: center;
    padding: 20px; width: 100%; box-sizing: border-box;
    background: var(--main-color); color: var(--wh1);
    user-select: none;
}

.hero-bottom--time{display: flex; gap: 4.16vw; align-items: center;}
.hero-bottom--time > div{display: flex; gap: 0.83vw;}
.hero-bottom--time > span{width: 4px; height: 4px; border-radius: 4px; display: inline-block; background: var(--wh2);}
.hero-bottom--divider{width: 1px; height: 15px; display: inline-block; background: var(--wh2);}
.hero-bottom--tel{}

