@charset "UTF-8";

@import url('./setting.css');
@import url('./variable.css');

/* 서브페이지 공통요소 */
.sub-img{width: 100%; height: auto;}
.sub-img > img{width: 100%; height: auto; object-fit: cover;}

.sub-guide-box{max-width: 1600px; width: var(--vw-1600px); margin-left: auto; margin-right: auto; margin-bottom: 150px;}

.breadcrumb{display: flex; gap: 6px; align-items: center; padding: 24px 10px; font-size: var(--fz14); color: var(--bk333); margin-bottom: 85px;}
.breadcrumb > a{display: flex; align-items: center; }
.breadcrumb > a > svg {stroke: var(--bk333); stroke-width: 1.6; width: 16px; height: 16px;}
.breadcrumb > svg {stroke: var(--bk333); stroke-width: 1.4; width: 16px; height: 16px;}
.breadcrumb > div{position: relative;}
.breadcrumb--current-gnb{cursor: pointer; padding: 4px 0;}
.breadcrumb--current-lnb{cursor: pointer; padding: 4px 0;}
.breadcrumb--gnb-dropdown{
position: absolute; top: 140%; left: -6px;
display: flex; flex-direction: column;
width: fit-content;
background: var(--wh1); border: 1px solid var(--bd1); border-radius: 6px; overflow: hidden;
}
.breadcrumb--lnb-dropdown{
position: absolute; top: 140%; left: -8px;
display: flex; flex-direction: column;
width: fit-content;
background: var(--wh1); border: 1px solid var(--bd1); border-radius: 6px; overflow: hidden;
}

.breadcrumb--gnb-dropdown > a{white-space: nowrap; display: inline-block; padding: 6px 8px; border-bottom: 1px solid var(--bd1); }
.breadcrumb--gnb-dropdown > a:last-of-type{border: 0;}
.breadcrumb--gnb-dropdown > a:hover{background: var(--bg-f6);}

.breadcrumb--lnb-dropdown > a{white-space: nowrap; display: inline-block; padding: 6px 8px; border-bottom: 1px solid var(--bd1); }
.breadcrumb--lnb-dropdown > a:last-of-type{border: 0;}
.breadcrumb--lnb-dropdown > a:hover{background: var(--bg-f6);}

.breadcrumb--gnb-dropdown.dn{display: none !important; }
.breadcrumb--lnb-dropdown.dn{display: none !important; }

.sub-title{font-size: var(--sectionTitle); padding: 4px 0 4px 16px; border-left: 4px solid var(--main-color); font-family: 'NanumMyeongjo'; margin-bottom: var(--title-gap); }

/* 서브1-1 컨텐츠 */
.sub1-1comment{display: flex; flex-direction: column; align-items: center; margin-bottom: 170px;}
.sub1-1comment > span{font-size: var(--deco-fz50); font-family: 'NanumMyeongjo';}
.sub1-1comment > div{font-size: var(--sectionTitle); font-family: 'NanumMyeongjo'; text-align: center; line-height: 1.6; padding-bottom: var(--sectionTitle);}

.sub1-1conts{display: flex; flex-direction: column; gap: 170px;}
.sub1-1cont{display: flex; gap: var(--vw-40px);}
.sub1-1cont > figure{width: 780px; height: auto;}
.sub1-1cont > figure > img{width: 100%; height: auto;}

.sub1-1cont > div{display: flex; flex-direction: column; justify-content: space-between; padding: 8px 0;}

.sub1-1cont--name{display: flex; gap: 1.6rem; align-items: end; margin-bottom: var(--title-gap);}
.sub1-1cont--name > span:nth-of-type(1){font-size: var(--fz20);}
.sub1-1cont--name > span:nth-of-type(2){font-size: var(--sectionTitle); font-family: 'NanumMyeongjo';}


.sub1-1cont--introduce{display: flex; flex-direction: column; gap: 2rem; line-height: 1.4;}
.sub1-1cont--introduce > span{font-size: var(--fz20);}
.sub1-1cont--introduce > span > br{display: none;}
.sub1-1cont--introduce > div{font-size: var(--fz18); line-height: 1.4; color: var(--bk333); display: flex; flex-direction: column; gap: 8px;}

.sub1-1cont--career{display: flex; flex-direction: column; gap: 2.4rem; padding: 0 10px;}
.sub1-1cont--career > span{font-size: var(--sectionTitle); font-family: 'NanumMyeongjo';}
.sub1-1cont--career > div{display: flex; flex-direction: column; gap: 1.2rem; font-size: var(--fz18); line-height: 1.4; color: var(--bk333);} 