@charset "UTF-8";

@import url('./setting.css');
@import url('./variable.css');

/* 서브페이지 공통요소 */
.sub-img{width: 100%; height: auto;}
.sub-img > img{width: 100%; height: auto; object-fit: cover;}

.sub-guide-box{max-width: 1600px; width: var(--vw-1600px); margin-left: auto; margin-right: auto; margin-bottom: 150px;}

.breadcrumb{display: flex; gap: 6px; align-items: center; padding: 24px 10px; font-size: var(--fz14); color: var(--bk333); margin-bottom: 4.4vw; user-select: none;}
.breadcrumb > a{display: flex; align-items: center; }
.breadcrumb > a > svg {stroke: var(--bk333); stroke-width: 1.6; width: 16px; height: 16px;}
.breadcrumb > svg {stroke: var(--bk333); stroke-width: 1.4; width: 16px; height: 16px;}
.breadcrumb > div{position: relative;}
.breadcrumb--current-gnb{cursor: pointer; padding: 4px 0;}
.breadcrumb--current-lnb{cursor: pointer; padding: 4px 0;}
.breadcrumb--gnb-dropdown{
position: absolute; top: 140%; left: -6px; z-index: 50;
display: flex; flex-direction: column;
width: fit-content;
background: var(--wh1); border: 1px solid var(--bd1); border-radius: 6px; overflow: hidden;
}
.breadcrumb--lnb-dropdown{
position: absolute; top: 140%; left: -8px; z-index: 50;
display: flex; flex-direction: column;
width: fit-content;
background: var(--wh1); border: 1px solid var(--bd1); border-radius: 6px; overflow: hidden;
}

.breadcrumb--gnb-dropdown > a{white-space: nowrap; display: inline-block; padding: 6px 8px; border-bottom: 1px solid var(--bd1); }
.breadcrumb--gnb-dropdown > a:last-of-type{border: 0;}
.breadcrumb--gnb-dropdown > a:hover{background: var(--bg-f6);}

.breadcrumb--lnb-dropdown > a{white-space: nowrap; display: inline-block; padding: 6px 8px; border-bottom: 1px solid var(--bd1); }
.breadcrumb--lnb-dropdown > a:last-of-type{border: 0;}
.breadcrumb--lnb-dropdown > a:hover{background: var(--bg-f6);}

.breadcrumb--gnb-dropdown.dn{display: none !important; }
.breadcrumb--lnb-dropdown.dn{display: none !important; }

.sub-title{font-size: var(--sectionTitle); padding: 4px 0 4px 16px; border-left: 4px solid var(--main-color); font-family: 'NanumMyeongjo'; margin-bottom: var(--title-gap); cursor: default; user-select: none;}

/* 서브1-1 컨텐츠 */
.sub1-1comment{display: flex; flex-direction: column; align-items: center; margin-bottom: clamp(70px, var(--vw-170px), 170px);}
.sub1-1comment > span{font-size: var(--deco-fz50); font-family: 'NanumMyeongjo';}
.sub1-1comment > div{font-size: var(--sectionTitle); font-family: 'NanumMyeongjo'; text-align: center; line-height: 1.6; padding-bottom: var(--sectionTitle);}

.sub1-1conts{display: flex; flex-direction: column; gap: clamp(50px, var(--vw-170px), 170px);}
.sub1-1cont{display: flex; gap: var(--vw-40px);}
.sub1-1cont > figure{max-width: 780px; width: 50%; height: auto; user-select: none;}
.sub1-1cont > figure > img{width: 100%; height: auto; object-fit: cover; object-position: center;}

.sub1-1cont > div{display: flex; flex-direction: column; justify-content: space-between; padding: 8px 0; max-width: 780px; width: 50%;}

.sub1-1cont--name{display: flex; gap: 1.6rem; align-items: end; margin-bottom: var(--vw-40px);}
.sub1-1cont--name > span:nth-of-type(1){font-size: var(--fz20);}
.sub1-1cont--name > span:nth-of-type(2){font-size: var(--sectionTitle); font-family: 'NanumMyeongjo';}


.sub1-1cont--introduce{display: flex; flex-direction: column; gap: 2rem; line-height: 1.4;}
.sub1-1cont--introduce > span{font-size: var(--fz20);}
.sub1-1cont--introduce > span > br{display: none;}
.sub1-1cont--introduce > div{font-size: var(--fz18); line-height: 1.4; color: var(--bk333); display: flex; flex-direction: column; gap: 8px;}

.sub1-1cont--career{display: flex; flex-direction: column; gap: 2.4rem; padding: 0 10px;}
.sub1-1cont--career > span{font-size: var(--sectionTitle); font-family: 'NanumMyeongjo';}
.sub1-1cont--career > div{display: flex; flex-direction: column; gap: 1.2rem; font-size: var(--fz18); line-height: 1.4; color: var(--bk333);} 



/* 서브1-2 컨텐츠 */
.sub1-2cont{display: flex; gap: var(--vw-40px);}
.sub1-2cont--big{position: relative; max-width: 1326px; height: auto; width: 69vw;}
.sub1-2cont--big > span{display: inline-block; font-size: var(--fz20); color: var(--bk333); padding: 1rem 1.2rem; border-radius: 8px; background: rgba(255, 255, 255, 0.4); position: absolute; top: 1.25vw; left: 1.25vw;}
.sub1-2cont--big > img{width: 100%; height: auto; object-fit: cover; object-position: center;}
.sub1-2cont--smalls{display: flex; flex-direction: column; gap: 8px; justify-content: space-between; align-items: center;}
.sub1-2cont--smalls > li{max-width: 233px; width: 12.13vw; height: fit-content; border: 2px solid transparent; box-sizing: border-box; display: flex;}
.sub1-2cont--smalls > li.selected{border: 2px solid var(--bk555); box-sizing: border-box;}
.sub1-2cont--smalls > li > img{width: 100%; height: auto; object-fit: cover; object-position: center; display: block;}


/* 서브1-3 컨텐츠 */
.sub1-3cont--map{width: 100%; height: auto;}

ul.sub1-3cont--txt-set{display: flex; flex-direction: column; gap: clamp(16px, var(--vw-40px), 40px);  padding: var(--title-gap) 4px; }
ul.sub1-3cont--txt-set > li{display: flex; gap: clamp(8px,0.625vw,12px);}
ul.sub1-3cont--txt-set > li > span{font-size: var(--fz18); line-height: 1.4; color: var(--bk333); }
ul.sub1-3cont--txt-set > li > div{font-size: var(--fz20); color: var(--bk111);}
ul.sub1-3cont--txt-set > li:nth-of-type(3) > div{display: flex; column-gap: 8px; row-gap: 4px; flex-wrap: wrap;}
ul.sub1-3cont--txt-set > li:nth-of-type(3) > div > dv{display: flex; gap: 4px;}
.subway2{display: inline-block; padding: 2px 10px; border-radius: 50px; background: #3CB44A; font-size: var(--fz14); color: var(--wh1); user-select: none; line-height: 1.5;}
.subwayRed{display: inline-block; padding: 2px 10px; border-radius: 50px; background: #A71E31; font-size: var(--fz14); color: var(--wh1); user-select: none; line-height: 1.5; white-space: nowrap;}


/* 서브2 컨텐츠 */
.sub2cont{display: flex; flex-direction: column; gap: clamp(70px, var(--vw-170px), 170px);}
.sub2cont--top{position: relative; width: calc(100% - 26.4vw - var(--vw-40px));}
.sub2cont--top > div{display: flex; flex-direction: column; gap: clamp(50px, var(--vw-170px), 170px);}
.sub2cont--top--sect1--title{font-size: var(--sectionTitle); color: var(--bk111); font-family: 'NanumMyeongjo'; margin-bottom: var(--vw-40px); line-height: 1.6;}
.sub2cont--top--sect1--title > span{color: var(--main-color);}
.sub2cont--top--sect1--title > br{display: none;}
.sub2cont--top--sect1--cont{font-size: var(--fz18); color: var(--bk333); line-height: 1.6;}

.sub2cont--top--sect2--cont{display: flex; flex-direction: column; gap: 1rem; font-size: var(--fz18); color: var(--bk333); line-height: 1.4;}

.sub2cont--top > figure{position: absolute; right:-28.4vw; top: 0; height: 100%; width: 26.4vw;}
.sub2cont--top > figure > img{display: block; width: 100%; height:100%; object-fit: cover; object-position: center; }

.sub2cont--sect3--conts{display: flex; gap: var(--vw-40px); justify-content: space-between;}
.sub2cont--sect3--conts > figure {width: 33%; height: fit-content; position: relative; overflow: hidden;}
.sub2cont--sect3--conts > figure > img {width: 100%; height: auto; object-fit: cover; object-position: center; display: block; border: 1px solid var(--bd1);} 
.sub2cont--sect3--cont{position: absolute; bottom: 0; left: 0; width: 100%; box-sizing: border-box; padding: 24px; z-index: 3; backdrop-filter: blur(1px); }  
.sub2cont--sect3--conts .linear-bg{background: linear-gradient(to top, rgba(252, 240, 226, 0.8), rgba(252,240,226,0.4) 25%, rgba(255,247,238,0)); width: 100%; height: 100%; bottom: 0; left: 0; position: absolute;  z-index: 2; box-shadow: inset 0 -5px 10px rgba(1,1,1,0.08);}

.sub2cont--sect3--cont > span {font-size: var(--fz20); color: var(--bk111); }
.sub2cont--sect3--cont > div {font-size: var(--fz18); color: var(--bk333); line-height: 1.4; margin-top: 8px;}


/* 서브3 컨텐츠 */
.sub3cont{display: flex; flex-direction: column; gap: clamp(70px, var(--vw-170px), 170px);}
.sub3cont--sect1--title{display: flex; flex-direction: column; gap: 1.6rem; margin-bottom: var(--vw-40px);}
.sub3cont--sect1--title > span{font-family: 'NanumMyeongjo'; font-size: var(--sectionTitle); color: var(--bk111); display: inline-block;}
.sub3cont--sect1--title > div{display: flex; padding: 0 4px; gap: 1.6rem; font-size: var(--fz14); color: var(--bk555); align-items: center;}
.sub3cont--sect1--title > div > .divider{width: 4px; height: 4px; border-radius: 4px; background: var(--bk555); display: block;}
.sub3cont--sect1--title > div > div {display: flex; flex-wrap: wrap; gap: 4px;}

.sub3cont--sect1--cont{font-size: var(--fz18); color: var(--bk333); line-height: 1.6;}

ul.sub3cont--sect2--cont{display: flex; flex-direction: column; gap: 1rem; font-size: var(--fz18); color: var(--bk333); line-height: 1.4;}

.sub3cont--sect3--cont{display: flex; flex-direction: column; gap: clamp(16px, 1.66vw , 32px);}
.sub3cont--sect3--cont > div > span{font-size: var(--fz20); color: var(--bk111); position: relative; text-indent: 10px; display: inline-block;}
.sub3cont--sect3--cont > div > span::before{content: ''; width: 4px;  height: 4px; background: var(--main-color); border-radius: 5px; position: absolute; top: 8px; left: 0;}
.sub3cont--sect3--cont > div > div{font-size: var(--fz20); color: var(--bk333); line-height: 1.4; margin-top: 8px;}


/* 서브4-1 컨텐츠 */
.faq-list{display: flex; flex-direction: column; gap: 0;}
.sub4-1cont--quest{display: flex; gap: 1.6rem; align-items: center;  padding: 2.4rem; border-radius: 8px 8px 0 0;}
.sub4-1cont--quest > div{display: flex; align-items: end; flex-grow: 1; gap: 1.6rem;  color: var(--bk111);}
.sub4-1cont--quest > div > span:nth-of-type(1){font-size: var(--sectionTitle);}
.sub4-1cont--quest > div > span:nth-of-type(2){font-size: var(--fz20); line-height: 1.6;}
.sub4-1cont--quest > svg{width: clamp(24px,2vw,40px); stroke: var(--bk111); stroke-width: 2.2px; flex-shrink: 0;}

.sub4-1cont--answer{display: flex; gap: 8px; align-items: start;  padding: 2.4rem; border-radius: 0 0 8px 8px;}
.sub4-1cont--answer > svg{width: clamp(18px,1.25vw,24px); stroke: var(--bk333); stroke-width: 2px;  flex-shrink: 0;}
.sub4-1cont--answer > div{font-size: var(--fz18); line-height: 1.6; color: var(--bk333); }


.sub4-1cont--quest.active{background: var(--bg-f6);}
.sub4-1cont--answer.active{background: var(--bg-f6); }
.sub4-1cont--answer.dn{display: none !important;}



/* 서브4-2 컨텐츠 */
.sub-title-area{position: relative; border: 1px solid transparent;}
.sub-title-area select{position: absolute; bottom: 16px; right: 0; padding: 5px 2px; border: 1px solid var(--bd2); border-radius: 4px; font-size: var(--fz14); color: var(--bk111);}

.sub4-2cont--table{font-size: var(--fz18); line-height: 1.4; color: var(--bk111); user-select: none;}
.sub4-2cont--table-head{color: var(--bk333); padding: 24px; display: flex; text-align: center; gap: 24px; border-bottom: 1px solid var(--bd2); cursor: default;}  
.sub4-2cont--table-head > strong{font-weight: 500; width: 50px;} 
.sub4-2cont--table-head > div{flex-grow: 1;} 
.sub4-2cont--table-head > span{display: inline-block; width: 130px;} 

.sub4-2cont--table-body--row{padding: 24px; display: flex; gap: 24px; cursor: pointer;}
.sub4-2cont--table-body--row > strong{font-weight: 500; text-align: center;  width: 50px; flex-shrink: 0;}
.sub4-2cont--table-body--row > div{flex-grow: 1; line-height: 1.6;}
.sub4-2cont--table-body--row > span{text-align: center; display: inline-block; width: 130px; flex-shrink: 0;}

.sub4-2cont--page{display: flex; align-items: center; user-select: none; justify-content: center; margin-top: var(--vw-40px);}
.sub4-2cont--page > svg{width: 24px; height: 24px; stroke-width: 2px; stroke: var(--bk555); cursor: pointer;}
.sub4-2cont--page > span{font-size: var(--fz18); color: var(--bk555); padding: 8px 16px; cursor: pointer; }
.sub4-2cont--page > span.currentPage{color: var(--bk111);}




.sub4-2cont--table-body--row.pin{background: #F1EEE9; font-weight: 600;}
.sub4-2cont--table-body--row.pin > strong{color: var(--point-color); font-weight: 600;}


/* 서브4-3 컨텐츠 */
.sub4-3cont--table {font-size: var(--fz18); line-height: 1.4; color: var(--bk111);}
.sub4-3cont--table--th {color: var(--bk333); border-bottom: 1px solid var(--bd2); padding: 24px; display: flex; gap: 48px; justify-content: space-between;}
.sub4-3cont--table--th .td1 {min-width:115px;}
.sub4-3cont--table--th .td2 {flex-grow: 1;}
.sub4-3cont--table--th .td3 {min-width:50px; text-align: center;}
.sub4-3cont--table--th .td4 {min-width:90px; text-align: center;}
.sub4-3cont--table--tr {padding: 24px; display: flex; gap: 48px; justify-content: space-between;}
.sub4-3cont--table--tr .td1 {min-width:115px;}
.sub4-3cont--table--tr .td2 {flex-grow: 1;}
.sub4-3cont--table--tr .td3 {min-width:50px; text-align: right;}
.sub4-3cont--table--tr .td4 {min-width:90px; text-align: right;}
.sub4-3cont--info {font-size: var(--fz14); line-height: 1.4; color: var(--bk555); padding: 20px 8px;}

.sub3cont--sect1--cont{font-size: var(--fz18); color: var(--bk333); line-height: 1.6;}

ul.sub3cont--sect2--cont{display: flex; flex-direction: column; gap: 1rem; font-size: var(--fz18); color: var(--bk333); line-height: 1.4;}

.sub3cont--sect3--cont{display: flex; flex-direction: column; gap: clamp(16px, 1.66vw , 32px);}
.sub3cont--sect3--cont > div > span{font-size: var(--fz20); color: var(--bk111); position: relative; text-indent: 10px; display: inline-block;}
.sub3cont--sect3--cont > div > span::before{content: ''; width: 4px;  height: 4px; background: var(--main-color); border-radius: 5px; position: absolute; top: 8px; left: 0;}
.sub3cont--sect3--cont > div > div{font-size: var(--fz20); color: var(--bk333); line-height: 1.4; margin-top: 8px;}



/* ///////////////////////////
     반응형
/////////////////////////// */

@media screen and (max-width : 1700px) {
/* fz50 */
.sub1-1comment > span{font-size: clamp(var(--deco-fz50-min),var(--deco-fz50-mid),var(--deco-fz50));}

/* fz32    {font-size:clamp(var(--deco-fz32-min),var(--deco-fz32-mid),var(--deco-fz32)) ;}   */

/* fz30 */
.sub-title,
.sub1-1comment > div,
.sub1-1cont--name > span:nth-of-type(2),
.sub1-1cont--career > span,
.sub2cont--top--sect1--title,
.sub3cont--sect1--title > span,
.sub4-1cont--quest > div > span:nth-of-type(1){font-size: clamp(var(--sectionTitle-min),var(--sectionTitle-mid), var(--sectionTitle));}

/* fz20 */
.sub1-1cont--name > span:nth-of-type(1),
.sub1-1cont--introduce > span,
.sub1-2cont--big > span,
ul.sub1-3cont--txt-set > li > div,
.sub2cont--sect3--cont > span,
.sub3cont--sect3--cont > div > span,
.sub3cont--sect3--cont > div > div,
.sub4-1cont--quest > div > span:nth-of-type(2){font-size: clamp(var(--fz20-min),var(--fz20-mid),var(--fz20));}

/* fz18 */
.sub1-1cont--introduce > div,
.sub1-1cont--career > div,
ul.sub1-3cont--txt-set > li > span,
.sub1-3--openTime,
.sub2cont--top--sect1--cont,
.sub2cont--top--sect2--cont,
.sub2cont--sect3--cont > div,
.sub3cont--sect1--cont,
ul.sub3cont--sect2--cont,
.sub4-1cont--answer > div,
.sub4-2cont--table,
.sub4-2cont--page > span,
.sub4-3cont--table {font-size: clamp(var(--fz18-min),var(--fz18-mid),var(--fz18));}

/* fz16     {font-size: clamp(13px, 0.83vw, 16px);} */

/* fz14 */    
.subway2,
.subwayRed,
.sub3cont--sect1--title > div,
.sub4-3cont--info,
.sub-title-area select{font-size: clamp(var(--fz14-min),var(--fz14-mid),var(--fz14));} 

.sub1-1cont > figure{width: 50%; height: 600px;}
.sub1-1cont > figure > img{width: 100%; height: 600px;}


}






@media screen and (max-width : 1440px) {
.sub1-1cont--introduce > span > br{display: block;}

.sub2cont--top--sect1--title > br{display: block;}
.sub2cont--sect3--conts{display: flex; gap: var(--vw-40px); justify-content: space-between;}
.sub2cont--sect3--conts > figure {width: 33%; height: auto; position: relative; overflow: hidden;}
.sub2cont--sect3--conts .linear-bg{display: none;}
.sub2cont--sect3--conts > figure > img {width: 100%; height: auto; object-fit: cover; object-position: center; display: block;} 
.sub2cont--sect3--cont{width: 100%; box-sizing: border-box; padding: 24px 8px 0 8px; backdrop-filter: blur(0); position: relative;}  

.sub4-2cont--table-head > strong{width: 40px;} 
.sub4-2cont--table-head > span{width: 90px;} 
.sub4-2cont--table-body--row > strong{width: 40px;}
.sub4-2cont--table-body--row > span{width: 90px;}
}


@media screen and (max-width : 1160px) {
.sub1-1comment{display: none;}
.sub1-1cont > figure{width: 50%; height: auto;}
.sub1-1cont > figure > img{width: 100%; height: 450px;}
.sub1-1cont--introduce > div{display: none;}

.sub2cont--top{width: 100%;}
.sub2cont--top--sect1--title > br{display: none;}
.sub2cont--top > figure{display: none;}

}

@media screen and (max-width : 950px){  /* sub2는 900까지 줄여도 됨 */
.sub2cont--top--sect1--title > br{display: block;}

.sub2cont--sect3--conts{flex-direction: column; }
.sub2cont--sect3--cont{padding: 24px 8px;}
.sub2cont--sect3--conts > figure {width: 100%; display: flex; gap: var(--vw-40px); align-items: end;}
.sub2cont--sect3--conts > figure > img{width: 50%;}



.sub4-1cont--quest {align-items: center;}
.sub4-1cont--quest > div{align-items: start;}
.sub4-1cont--quest > div > span:nth-of-type(2){line-height: 1.6; padding-top: 4px;}
}


@media screen and (max-width : 780px) {

.sub1-1cont{flex-direction: column;}
.sub1-1cont > figure{width: 100%; height: auto;}
.sub1-1cont > figure > img{width: 100%; height: 400px; object-position: top;}
.sub1-1cont > div{width: 100%; gap: 2.4rem;}
.sub1-1cont--introduce{line-height: 1.6; white-space: nowrap;}
.sub1-1cont--introduce > span > br{display: block;}
.sub1-1cont--career{gap: 1.6rem; padding: 20px 0;}

.sub1-2cont{display: flex; flex-direction: column-reverse; gap: var(--vw-40px); }
.sub1-2cont--big{width: 100%;}
.sub1-2cont--big > span{padding: 6px 8px;}
.sub1-2cont--smalls{display: flex; flex-direction: row; gap: 8px; justify-content: space-between;}
.sub1-2cont--smalls > li{flex-grow: 1;}

ul.sub1-3cont--txt-set > li{display: flex; gap: 0.8rem; flex-direction: column;}

.sub2cont--top--sect1--cont{display: none;}

.sub3cont--sect1--title > div{display: flex; padding: 0 4px; row-gap: 8px; align-items: start; flex-direction: column;}
.sub3cont--sect1--title > div > .divider{display: none;}
.sub3cont--sect1--cont{display: none;}

ul.sub3cont--sect2--cont > li{text-indent: 10px; position: relative;}
ul.sub3cont--sect2--cont > li::before{content: ''; width: 4px;  height: 4px; background: var(--main-color); border-radius: 5px; position: absolute; top: 8px; left: 0;}


.sub4-1cont--quest {align-items: start; padding:20px 16px;}
.sub4-1cont--quest > div > span:first-child{display: none;}
.sub4-1cont--quest > div > span:nth-of-type(2){line-height: 1.6; padding-top: 0; font-size: 16px;}
.sub4-1cont--answer{padding: 0px 20px 20px 20px;}
.sub4-1cont--answer > svg{display: none;}

.sub4-2cont--table-head{padding: 20px 16px;}
.sub4-2cont--table-body--row{padding: 20px 16px;}


.sub4-3cont--table--th{padding: 20px 16px;}
.sub4-3cont--table--tr{padding: 20px 16px;}
.sub4-3cont--table--th .td1{display: none;}
.sub4-3cont--table--tr .td1{display: none;}

.sub4-3cont--table--tr:nth-of-type(6){border-bottom: 1px solid; border-image:linear-gradient(to right, transparent, #e9e9e9 8%, #e9e9e9 92%, transparent) 1;}
}


@media screen and (max-width : 600px){
.sub2cont--top--sect1{display: none;}

.sub2cont--top--sect2--cont > li::before{content: ''; width: 4px;  height: 4px; background: var(--main-color); border-radius: 5px; position: absolute; top: 8px; left: 0; }
.sub2cont--top--sect2--cont > li{text-indent: 10px; position: relative; }

.sub2cont--sect3--conts{gap:40px;}
.sub2cont--sect3--conts > figure {width: 100%; display: flex; gap: var(--vw-40px); align-items: start; flex-direction: column;}
.sub2cont--sect3--conts > figure > img{width: 100%;}

.sub2cont--sect3--cont{padding: 10px 8px;}

.sub3cont--sect1--title > span > span{display: none;}

.sub4-2cont--table-head > strong{display: none;}
.sub4-2cont--table-head > div{text-align: left;}
.sub4-2cont--table-body--row > strong{display: none;}
.sub4-2cont--table-body--row > div > span:first-child{display: none;}


.sub4-3cont--table--th{gap: 24px;}
.sub4-3cont--table--tr{gap: 24px;}
.sub4-3cont--table--th .td3 {min-width:40px; }
.sub4-3cont--table--th .td4 {min-width:70px; }
.sub4-3cont--table--tr .td3 {min-width:40px; }
.sub4-3cont--table--tr .td4 {min-width:70px; }
}


@media screen and (max-width : 460px){
ul.sub1-3cont--txt-set > li > .forWrap{display: flex; flex-direction: column; row-gap: 4px;}

.sub3cont--sect1--title > div > div{display: none;}
.sub3cont--sect3--cont > div > span{font-size: 16px;}
.sub3cont--sect3--cont > div > div{font-size: 15px;}
}


